* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior:smooth;
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.col-third {
    width: calc(100%/3);
}

.col-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

#main {

}

#header {
    background-color: black;
    height: 46px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#nav li {
    position: relative;
}

#nav > li {
    display: inline-block;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li > a {
    color: #fff;    
}

#nav > li:hover > a,
#nav .subnav li:hover {
    background-color: #ccc;
    color:#333;
} 

#nav .subnav {
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: #fff;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#nav .subnav li {
    min-width: 160px;
}

#nav .subnav a {
    color:#333;
    padding: 0 12px;
}

#nav .iconlord {
    font-size: 14px;
}

#header .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 46px;
    padding: 0 20px;
    font-size: 20px;
}

.mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 46px;
    padding: 0 20px;
    font-size: 20px;
    display: none;
}

#header > .search-btn:hover {
    background-color: #ccc;
    cursor: pointer;
}

.mobile-menu-btn:hover {
    background-color: #ccc;
    color: #000;
}

.mobile-menu-btn, 
#header .search-icon {
    color: #fff;
}

#header > .search-btn:hover > .search-icon {
    color: #333;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background:url(/img/anh-nghe-thuat-trang-den-6.jpg) top center / cover no-repeat;
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 46px;
    color: #fff;
    text-align: center;
    width: 100%;
}

#slider .text-heading {
    font-weight: 500px;
    margin-bottom: 18px;
    font-size: 24px;
}

#slider .text-description {
    font-size: 18px;
    font-weight: 300px;
    text-shadow: 0 0 2px black;
}

#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto; /*căn giữa*/
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500; 
    text-align: center;
    letter-spacing: 4px; /*khoảng cách chữ*/
    padding-top: 64px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin: 15px 0;
    font-style: italic; /*chữ nghiêng*/
    opacity: 0.6; /*mờ chữ*/
}

#content .about-text {
    text-align: justify; /* căn đều */
    line-height: 1.4; /* khoảng cách dòng*/
    margin-bottom: 15px;
    
}

#content .member-name {
    font-size: 15px;
    padding: 15px 0;
    text-align: center;
}

#content .member-img{
    width: 154px;
    border-radius: 4px; /* bo góc */
}
/* tour-section */
.tour-section {
    background-color: black;
}  

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style-type: none;
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 0.8px solid #ddd;
}

.tickets-list .sold-out {
    background-color: #757575;
    color:#fff;
    padding: 3px 4px;
    border-radius: 8px;
    margin-left: 16px;
}

.tickets-list .two {
    margin-left: 35.3px;
}

.tickets-list .quantity {
    float: right;
    width: 24px; height: 24px;
    background-color: rgba(0, 0, 0, 0.416);
    color: #fff;
    border-radius: 40%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
 /* place */
.place-list {
    margin-top: 16px;
} 

.place-img {
    width: 100%;
    display: block;
}    

.place-img:hover {
    opacity: 0.6;
}

.place-content {
    background-color: #fff;
    padding: 16px;
}    

.place-content .heading {
    margin-bottom: 15px;
    font-weight: 600;
} 

.place-time {
    margin: 15px 0;
    opacity: 0.6;
}  
  
.place-description {
    font-size: 15px;
    margin: 15px 0;
    line-height: 1.4;
}    

.place-btn {
    font size: 15px;
    text-decoration:none;
    color: #fff;
    background-color: black;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 14px;
    border: none;
}

.place-btn:hover {
    background-color: #a3a3a3;
    color: blacK;
    border: none;
}
 
/* MODAL */

.modal {
    position: fixed;
    align-items: center;
    justify-content: center;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}

.modal.js-modal.open {
    display: flex;
}

.modal .modal-container {
    background: #fff;
    max-width: calc(100% -32px);
    width: 900px;
    min-height: 200px;
    position: relative;
    top: 10%;
    animation: modalFaceIn ease 0.4s;
}

.modal-container {
    transform: translateY(-100px);
}

.modal-header .label-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor:pointer;
    opacity: 0.7;
}

.modal-close:hover {
    opacity: 1;
}

.modal .modal-header {
    color: #fff;
    height: 128px;
    background: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    height: 40px;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

.buy-ticket {
    background: #009688;
    color: #fff;
    font-size: 15px;
    border: none;
    width: 100%;
    padding: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.buy-ticket:hover {
    opacity: 0.9;

}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color:#276ee0;
}

@keyframes modalFaceIn {
    form {
        opacity: 0.3;
        transform: translateY(-140px);
    }
    to {
        transform: translateY(0);
    }
}

/* CONTACT */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
}

.contact-info i {
    display: inline-block;
    width: 30px;
}

.contact-info a {
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-form .form-control{
    font-size: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn {
    background: black;
    color: #fff;
    border: none;
    padding: 10px 16px;
    float: right;
}  

.contact-form .form-submit-btn:hover {
    cursor: pointer;
    background-color: #a3a3a3;
    color: black;
}

/* Map  */
 .map-section img {
    width: 100%;
 }

 /* FOOTER */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 22px;
}

#footer .social-list i {
    color:#757575;
}

#footer .social-list i:hover {
    color:#757575;
    opacity: 0.7    ;
}

#footer .social-list a {
    text-decoration: none;
}

#footer .copy-right {
    color:#757575;
}

#footer .copy-right a {
    color:#757575;
}